<div>
  <!-- <span>{{robot.x}} {{robot.y}} {{robot.state}} {{robot.direction}}</span> -->
  <!-- build table top grid -->
  <div class="tabletop container">
    <div *ngFor="let y of rows" class="row">
      <span></span>
      <div *ngFor="let x of columns" class="col tabletopgridbox">
        <span>({{ x }},{{ rows.length - y - 1 }})</span>        
        <span *ngIf="isRobotAtPosition(x, rows.length - y - 1)">
          <app-robot [robot]="robot"></app-robot>
        </span>
      </div>
    </div>
  </div>
</div>
