.tabletopgridbox {
  background-color: lightgrey;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin: 2px;
  font-size: 100%;
}

@media (max-width: 425px) {
  .tabletopgridbox {
    border-radius: 4px;
    padding: 10px;
    margin: 2px;
    font-size: 90%;
  }
}

@media (max-width: 375px) {
  .tabletopgridbox {
    border-radius: 2px;
    padding: 5px;
    font-size: 80%;
  }
}

@media (max-width: 320px) {
  .tabletopgridbox {
    padding: 2px;
    font-size: 70%;
  }
}
