﻿@{
    ViewData["Title"] = "WASD";
}

@model WASDModel

<a href="https://bitbucket.org/simonpb/toy-robot-challenge/src/master/">Click here to view the source code</a>

<div>
    <partial name="_Tabletop" model="@this.Model.TabletopModel" />

    @if(this.Model.ConsoleModel.IsRobotPlaced)
    {
        <partial name="_ConsoleWASD" model="@this.Model.ConsoleModel" />
    }
    else
    {
        <partial name="_ConsolePlace" model="@this.Model.ConsoleModel" />
    }
</div>

@section css {
    <link rel="stylesheet" type="text/css" href="~/css/robot.css">
    <link rel="stylesheet" type="text/css" href="~/css/tableTop.css">
    <link rel="stylesheet" type="text/css" href="~/css/consoleWASD.css">
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.css">
}

@section scripts {
}