﻿
.commandConsole {
    background-color: black;
    border-radius: 5px;
    color: green;
    height: 100%;
    min-height: 300px;
}

    .commandConsole .commandHistory {
    }

    .commandConsole .commandInput input {
        background: black;
        color: green;
        border: none;
        width: 90%;
    }

        .commandConsole .commandInput input:focus {
            outline: none;
        }

    .commandConsole .commandInput .commandPrompt {
    }

@media (max-width: 425px) {
    .commandConsole {
        border-radius: 4px;
        font-size: 90%;
    }
}

@media (max-width: 375px) {
    .commandConsole {
        border-radius: 2px;
    }
}
