<template>
    <div class="console-cli">
        <div class="container commandConsole">
            <div class="row commandHistory">
                <div class="col">
                    <span v-for="(item, index) in commands" v-bind:key="index">{{item}}<br></span>                    
                </div>
            </div>

            <div class="row commandInput">
                <div class="col">
                    <span class="commandPrompt">&gt; </span>
                    <input id='commandInputLineField' v-model="command" v-on:keyup.enter="onEnter" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { simulator } from "@/services/simulator.js";

    export default {
        name: 'Command Console CLI',
        props: {
        },
        data() {
            return {
                robot: null,
                maxCommands: 12,
                command: '',
                commands: []
            }
        },
        emits: ['robotupdate'],       
        methods: {
            onEnter: function () {
                let cmd = this.command.trim();

                if (cmd.length > 0) {
                    this.addCommandToHistory(cmd);
                    this.executeCommand(cmd);
                }

                this.command = '';
            },
            addCommandToHistory: function (cmd) {

                if (this.commands.length >= this.maxCommands) {

                    // keep all except the over flow + 1
                    this.commands = this.commands.slice((this.commands.length - this.maxCommands) + 1);
                    this.commands.push(cmd);
                }
                else {
                    
                    this.commands.push(cmd);
                }
            },
            executeCommand: function (cmd) {
                let self = this;

                if (cmd.toLowerCase() === 'help' || cmd.toLowerCase() === 'h') {

                    this.executeDisplayHelp();
                }
                else if (cmd.toLowerCase() === 'report') {

                    this.executeDisplayReport();
                }
                else {

                    simulator.execute(cmd)
                        .then((response) => {
                            let robot = response.data;

                            self.robot = robot;
                            self.$emit('robotupdate', robot);
                        })
                        .catch(function (error) {
                            alert(error);
                        });
                }
            },
            executeDisplayHelp: function () {

                let lines = [

                    "Use the following commands to ready & control your robot (commands are case insensitive!):",
                    "PLACE [x],[y], [FACING]\" - Place the robot in the required x,y position in the required direction.",
                    "x,y are the grid coordinates 0 -> 5 for width & 0 -> 5 for height.",
                    "    Facing is one of NORTH, EAST, SOUTH, WEST",
                    "You must place your robot first, any other interactive commands will be ignored until the robot has been placed.",
                    "You may place your robot as many tmes as you like.",
                    "MOVE - Move the robot by 1 grid square in the direction it is facing.",
                    "LEFT - Rotate the robot 90 degrees left in the current grid position.",
                    "RIGHT - Rotate the robot 90 degrees right in the current grid position.",
                    "REPORT - Display the robots current position & direction.",
                    "WAVE - Give a little wave :-)",
                    "JUMP - Give a little jump :-P"
                ];

                for (let i = 0; i < lines.length; i++) {
                    this.addCommandToHistory(lines[i]);
                }
            },
            executeDisplayReport: function () {

                if (this.robot !== null && this.robot.state !== 'None') {
                    this.addCommandToHistory('Position: (' + this.robot.x + ', ' + this.robot.y + ') Direction: ' + this.robot.direction);
                }
                else {
                    this.addCommandToHistory('Robot MUST be placed first!');
                }
            }
        },
        computed: {
        },
        mounted() {
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .commandConsole {
        background-color: black;
        border-radius: 5px;
        color: green;
        height: 100%;
        min-height: 300px;
        text-align: left;
    }

        .commandConsole .commandHistory {
            
        }

        .commandConsole .commandInput input {
            background: black;
            color: green;
            border: none;
            width: 90%;
            
        }

            .commandConsole .commandInput input:focus {
                outline: none;
            }

        .commandConsole .commandInput .commandPrompt {
        }

    @media (max-width: 425px) {
        .commandConsole {
            border-radius: 4px;
            font-size: 90%;
        }
    }

    @media (max-width: 375px) {
        .commandConsole {
            border-radius: 2px;
        }
    }
</style>
