<template>
    <div class="console-wasd">
        <div class="container commandConsole">
            <text>
                <div class="row">
                    <div class="col"></div>
                    <div class="col"><button class="btn btn-primary btn-play" v-on:click="onTurnLeft" ><i class="fas fa-caret-left" ></i></button></div>
                    <div class="col"><button class="btn btn-primary btn-play" v-on:click="onMove"     ><i class="fas fa-caret-up"   ></i></button></div>
                    <div class="col"><button class="btn btn-primary btn-play" v-on:click="onTurnRight"><i class="fas fa-caret-right"></i></button></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"><button class="btn btn-danger btn-reset" v-on:click="onReset"    ><i class="fas fa-power-off"  ></i></button></div>
                </div>
            </text>
        </div>
    </div>
</template>

<script>
    import { simulator } from "@/services/simulator.js";

    export default {
        name: 'Command Console WASD',
        props: {
        },
        emits: ['robotupdate'],
        methods: {
            onMove: function () {

                let self = this;

                simulator.move()
                    .then((response) => {
                        let robot = response.data;

                        self.$emit('robotupdate', robot);
                    })
                    .catch(function (error) {
                        alert(error);
                    });
            },
            onTurnLeft: function () {

                let self = this;

                simulator.turnLeft()
                    .then((response) => {
                        let robot = response.data;

                        self.$emit('robotupdate', robot);
                    })
                    .catch(function (error) {
                        alert(error);
                    });
            },
            onTurnRight: function () {

                let self = this;

                simulator.turnRight()
                    .then((response) => {
                        let robot = response.data;

                        self.$emit('robotupdate', robot);
                    })
                    .catch(function (error) {
                        alert(error);
                    });
            },
            onReset: function () {

                let self = this;

                simulator.reset()
                    .then((response) => {
                        let robot = response.data;

                        self.$emit('robotupdate', robot);
                    })
                    .catch(function (error) {
                        alert(error);
                    });
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .btn-play {
        float: right;
        width: 100%;
    }

    .btn-reset {
        float: right;
    }

</style>
