<template>
    <div class="console-place">
        <!-- <p>({{x}}, {{y}}) {{direction}}</p> -->
        <div class="container commandConsole">
            <div class="row">
                <div class="col"></div>
                <div class="col"><h5>PLACE:</h5></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"><span class="label">X: </span></div>
                <div class="col"><input v-model="x" class="field"/></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"><span class="label">Y: </span></div>
                <div class="col"><input v-model="y" class="field" /></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"><span class="label">Direction: </span></div>
                <div class="col">
                    <select class="field" v-model="direction">
                        <option value="" disabled selected>Select your option</option>
                        <option value='North'>North</option>
                        <option value='East'>East</option>
                        <option value='South'>South</option>
                        <option value='West'>West</option>
                    </select>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col"><button class="btn btn-primary btn-play" type="submit" v-on:click="onPlace" v-bind:disabled="isPlaceButtonDisabled"><i class="fas fa-play"></i></button></div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import { simulator } from "@/services/simulator.js";

    export default {
        name: 'Command Console Place',
        data() {
            return {
                x: -1,
                y: -1,
                direction: ''
            }
        },
        emits: ['robotupdate'],
        methods: {
            onPlace: function () {
                let self = this;
                let x = self.x;
                let y = self.y;
                let direction = self.direction;

                simulator.place(x, y, direction)
                    .then((response) => {
                        let robot = response.data;

                        self.$emit('robotupdate', robot);
                    })
                    .catch(function (error) {
                        alert(error);
                    });
            }
        },
        computed: {
            isPlaceButtonDisabled: function () {
                return this.x < 0 || this.y < 0 || this.direction === null || this.direction === '';
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .label {
        float: right;
    }

    .field {
        width: 100%;
    }

    .btn-play {
        width: 100%;
    }
</style>
