<template>
    <div>
        <div v-if="robot.state === 'Waving' || robot.state === 'Jumping'">
            <img v-if="robot.state === 'Waving'"  src="../assets/robot_front_wave.png" class="robot" />
            <img v-if="robot.state === 'Jumping'" src="../assets/robot_front_jump.png" class="robot" />
        </div>
        <div v-else-if="robot.state === 'Standing'">
            <img v-if="robot.direction === 'North'"       src="../assets/robot_back.png"  class="robot" />
            <img v-else-if="robot.direction === 'East'"   src="../assets/robot_right.png" class="robot" />
            <img v-else-if="robot.direction === 'South'"  src="../assets/robot_front.png" class="robot" />
            <img v-else-if="robot.direction === 'West'"   src="../assets/robot_left.png"  class="robot" />
        </div>
    </div>
</template>


<script>
    import { ToyRobot } from "@/models/toyrobot.js";

    export default {
        name: 'Robot',
        props: {
            robot: ToyRobot            
        }
    }
</script>

<style scoped>
    .robot {
        width: 48px;
        height: 48px;
    }

    @media (max-width: 425px) {
        .robot {
            width: 40px;
            height: 40px;
        }
    }

    @media (max-width: 375px) {
        .robot {
            width: 35px;
            height: 35px;
        }
    }

    @media (max-width: 320px) {
        .robot {
            width: 30px;
            height: 30px;
        }
    }
</style>