<template>
    <div>
        <a class="src-link" href="https://bitbucket.org/simonpb/toy-robot-challenge/src/master/">Click here to view the source code</a>
    </div>
    

    <div class="simulator-wasd">
        <Tabletop v-bind:rows="5"
                  v-bind:columns="5"
                  v-bind:robot="$data.robot">
        </Tabletop>

        <ConsoleWASD v-if="showConsoleWASD"
                     v-on:robotupdate="onRobotUpdate">
        </ConsoleWASD>

        <ConsolePlace v-else v-on:robotupdate="onRobotUpdate">
        </ConsolePlace>
    </div>
</template>

<script>
    import Tabletop from "@/components/Tabletop.vue";
    import ConsolePlace from "@/components/CommandConsolePlace.vue";
    import ConsoleWASD from "@/components/CommandConsoleWASD.vue";
    import { simulator } from "@/services/simulator.js";
    import { ToyRobot } from "../models/toyrobot";

    export default {
        name: 'Simulator WASD',
        props: {
        },
        data: function () {
            return {
                robot: new ToyRobot()
            }
        },
        methods: {
            initialiseRobot: function () {

                let self = this;

                simulator.start()
                    .then((response) => {
                        self.robot = response.data;
                    })
                    .catch(function (error) {
                        alert(error);
                    });
            },
            onRobotUpdate: function (robot) {

                let self = this;

                console.log(JSON.stringify(robot));

                self.robot = robot;
            }
        },
        mounted() {
            this.initialiseRobot();
        },
        computed: {
            showConsoleWASD: function () {
                return this.robot !== null && this.robot.state !== 'None';
            }
        },
        components: {
            Tabletop,
            ConsolePlace,
            ConsoleWASD
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .src-link {
        color: #42b983;
        text-align:left;
    }
</style>
