<template>
    <div>
        <a class="src-link" href="https://bitbucket.org/simonpb/toy-robot-challenge/src/master/">Click here to view the source code</a>
    </div>

    <div class="simulator-cli">
        <Tabletop v-bind:rows="5"
                  v-bind:columns="5"
                  v-bind:robot="$data.robot">
        </Tabletop>
        <ConsoleCLI v-on:robotupdate="onRobotUpdate">
        </ConsoleCLI>
    </div>
</template>

<script>
    import Tabletop from "@/components/Tabletop.vue";
    import ConsoleCLI from "@/components/CommandConsoleCLI.vue";
    import { simulator } from "@/services/simulator.js";
    import { ToyRobot } from "../models/toyrobot";

    export default {
        name: 'Simulator CLI',
        props: {
        },
        data: function () {
            return {
                robot: new ToyRobot()
            }
        },
        methods: {
            initialiseRobot: function () {

                let self = this;

                simulator.start()
                    .then((response) => {
                        self.robot = response.data;
                    })
                    .catch(function (error) {
                        alert(error);
                    });
            },
            onRobotUpdate: function (robot) {

                let self = this;

                console.log(JSON.stringify(robot));
                
                self.robot = robot;
            }
        },
        mounted() {
            this.initialiseRobot();
        },
        components: {
            Tabletop,
            ConsoleCLI
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .src-link {
        color: #42b983;
        text-align: left;
    }
</style>
