<template>
    <!-- <span>{{robot.x}} {{robot.y}} {{robot.state}} {{robot.direction}}</span> -->
    <!-- build table top grid -->
    <div class="tabletop container">
        <div v-for="y in rows" class="row" v-bind:key="y">
            <span></span>
            <div v-for="x in columns" class="col tabletopgridbox" v-bind:key="x">
                <span>({{ x - 1 }},{{ rows - y }})</span>
                <span v-if="robot.x === (x - 1) && robot.y == (rows - y)">
                    <Robot v-bind:robot="robot">
                    </Robot>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    
    import Robot from "@/components/Robot.vue";
    import { ToyRobot } from "@/models/toyrobot.js";

    export default {
        name: 'Tabletop',
        props: {
            rows: Number,
            columns: Number,
            robot: ToyRobot
        },
        components: {
            Robot
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .tabletopgridbox {
        background-color: lightgrey;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        margin: 2px;
        font-size: 100%;
    }

    @media (max-width: 425px) {
        .tabletopgridbox {
            border-radius: 4px;
            padding: 10px;
            margin: 2px;
            font-size: 90%;
        }
    }

    @media (max-width: 375px) {
        .tabletopgridbox {
            border-radius: 2px;
            padding: 5px;
            font-size: 80%;
        }
    }

    @media (max-width: 320px) {
        .tabletopgridbox {
            padding: 2px;
            font-size: 70%;
        }
    }
</style>
