﻿@model ConsoleWASDModel

<div class="container commandConsole">
    <div class="row">
        <div class="col"></div>
        <div class="col"><button class="btn btn-primary btn-play" value="Create" onclick="location.href='@Url.Action("TurnLeft",  "WASD")'"><i class="fas fa-caret-left"></i></button></div>
        <div class="col"><button class="btn btn-primary btn-play" value="Create" onclick="location.href='@Url.Action("Move",      "WASD")'"><i class="fas fa-caret-up"></i></button></div>
        <div class="col"><button class="btn btn-primary btn-play" value="Create" onclick="location.href='@Url.Action("TurnRight", "WASD")'"><i class="fas fa-caret-right"></i></button></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"><button class="btn btn-danger btn-reset" value="Create" onclick="location.href='@Url.Action("Reset", "WASD")'"><i class="fas fa-power-off"></i></button></div>
    </div> 
</div>

@{
}
