﻿@using ToyRobotChallenge.Library.Geometry 
@model ConsoleWASDModel

<div class="container commandConsole">
    @using (Html.BeginForm("Place", "WASD", FormMethod.Post))
    { 
        <div class="row">
            <div class="col"></div>
            <div class="col"><h5>PLACE:</h5></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"><span class="label">X: </span></div>
            <div class="col">@Html.TextBoxFor(m => m.RobotModel.Vector.Position.X, new { @class = "field" })</div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"><span class="label">Y: </span></div>
            <div class="col">@Html.TextBoxFor(m => m.RobotModel.Vector.Position.Y, new { @class = "field" })</div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"><span class="label">Direction: </span></div>
            <div class="col">
                <select class="field" name="@Html.NameFor(m => m.Direction)">
                    <option value="" disabled selected>Select your option</option>
                    <option value=@Direction.North>@Direction.North</option>
                    <option value=@Direction.East>@Direction.East</option>
                    <option value=@Direction.South>@Direction.South</option>
                    <option value=@Direction.West>@Direction.West</option>
                </select>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"><button class="btn btn-primary btn-play" type="submit"><i class="fas fa-play"></i></button></div>
            <div class="col"></div>
        </div>
    }
</div>

@{
}
