﻿@model ConsoleCLIModel

<div class="container commandConsole">
    <div class="row commandHistory">
        <div class="col">
            @foreach (var command in this.Model.Commands)
            {
                @command<br>
            }
        </div>
    </div>

    @using (Html.BeginForm("Index", "CLI", FormMethod.Post))
    {
        <div class="row commandInput">
            <div class="col">
                <span class="commandPrompt">@this.Model.CommandPrompt</span>@Html.TextBoxFor(m => m.CommandBuffer, new { @id = "commandInputLineField" })
            </div>
        </div>
    }
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(function () {
        $('#commandInputLineField').focus();
    });
</script>
@{
}
