﻿@using ToyRobotChallenge.Library.Geometry
@using static ToyRobotChallenge.Library.AppSupport.Models.ToyRobotModel
@model MVCToyRobotChallenge.Models.ToyRobotModel

@if (this.Model != null)
{
    @switch (this.Model.State)
    {
        case RobotState.Waving:
            {
                <text>
                    <img class="robot" src="~/images/robot_front_wave.png" />
                </text>
            }
            break;

        case RobotState.Jumping:
            {
                <text>
                    <img class="robot" src="~/images/robot_front_jump.png" />
                </text>
            }
            break;

        case RobotState.Standing:
            {
                switch (this.Model.Vector.Dir)
                {
                    case Direction.North:
                        <text>
                            <img class="robot" src="~/images/robot_back.png" />
                        </text>
                        break;
                    case Direction.East:
                        <text>
                            <img class="robot" src="~/images/robot_right.png" />
                        </text>
                        break;
                    case Direction.South:
                        <text>
                            <img class="robot" src="~/images/robot_front.png" />
                        </text>
                        break;
                    case Direction.West:
                        <text>
                            <img class="robot" src="~/images/robot_left.png" />
                        </text>
                        break;
                    default:
                        break;
                }
            }
            break;

        default:
            break;
    }
}

@{
}
