﻿@using MVCToyRobotChallenge.Models
@using static ToyRobotChallenge.Library.AppSupport.Models.ToyRobotModel
@model TabletopModel
<!-- build the table grid -->
<div class="container">
    @for (var y = this.Model.Rows - 1; y >= 0; y--)
    {
        <div class="row">
            @for (var x = 0; x < this.Model.Columns; x++)
            {
                <div class="col tabletopgridbox">
                    <span>(@x,@y)</span>

                    @if (true
                        && this.Model.RobotModel != null
                        && this.Model.RobotModel.State != RobotState.None
                        && this.Model.RobotModel.Vector != null
                        && this.Model.RobotModel.Vector.Position.X == x
                        && this.Model.RobotModel.Vector.Position.Y == y)
                    {
                        <span>
                            <partial name="_Robot" model="@this.Model.RobotModel" />
                        </span>
                    }
                </div>
            }
        </div>
    }
</div>

@{
}
