<div>
  <div class="console-cli">
    <div class="container commandConsole">
      <div class="row commandHistory">
        <div class="col">
          <span *ngFor="let command of commands">{{command}}<br></span>
        </div>
      </div>

      <div class="row commandInput">
        <div class="col">
          <span class="commandPrompt">&gt; </span>
          <input id='commandInputLineField' (keyup.enter)="onEnter($event)"/>
        </div>
      </div>
    </div>
  </div>
</div>
