﻿@{
    ViewData["Title"] = "CLI";
}

@model CLIModel

<a href="https://bitbucket.org/simonpb/toy-robot-challenge/src/master/">Click here to view the source code</a>

<div>
    <partial name="_Tabletop" model="@this.Model.TabletopModel" />
    <partial name="_ConsoleCLI" model="@this.Model.ConsoleModel" />
</div>

@section css {
    <link rel="stylesheet" type="text/css" href="~/css/robot.css">
    <link rel="stylesheet" type="text/css" href="~/css/tableTop.css">
    <link rel="stylesheet" type="text/css" href="~/css/consoleCLI.css">
}

@section scripts {
}
