<div>
  <a href="https://bitbucket.org/simonpb/toy-robot-challenge/src/master/">Click here to view the source code</a>
  <app-table [rowCount]="5" [columnCount]="5" [robot]="robot"></app-table>
  <app-console-wasd [robot]="robot" (onCommand)="onCommand($event)"></app-console-wasd>
</div>
