<div>
  <div *ngIf="isRobotPlaced() === true" class="console-wasd">
    <div class="container commandConsole">     
      <div class="row">
        <div class="col"></div>
        <div class="col"><button class="btn btn-primary btn-play" (click)="onTurnLeft()"><i class="fas fa-caret-left"></i></button></div>
        <div class="col"><button class="btn btn-primary btn-play" (click)="onMove()"><i class="fas fa-caret-up"></i></button></div>
        <div class="col"><button class="btn btn-primary btn-play" (click)="onTurnRight()"><i class="fas fa-caret-right"></i></button></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"><button class="btn btn-danger btn-reset" (click)="onReset()"><i class="fas fa-power-off"></i></button></div>
      </div>
    </div>
  </div>

  <div *ngIf="isRobotPlaced() === false" class="console-place">
    <!-- <p>({{x}}, {{y}}) {{direction}}</p> -->
    <div class="container commandConsole">
      <div class="row">
        <div class="col"></div>
        <div class="col"><h5>PLACE:</h5></div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"><span class="label">X: </span></div>
        <div class="col"><input [(ngModel)]="x" class="field" /></div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"><span class="label">Y: </span></div>
        <div class="col"><input [(ngModel)]="y" class="field" /></div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"><span class="label">Direction: </span></div>
        <div class="col">
          <select class="field" [(ngModel)]="direction">
            <option value="" disabled selected>Select your option</option>
            <option value='North'>North</option>
            <option value='East'>East</option>
            <option value='South'>South</option>
            <option value='West'>West</option>
          </select>
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
        <!-- <div class="col"><button class="btn btn-primary btn-play" type="submit" v-on:click="onPlace" v-bind:disabled="isPlaceButtonDisabled"><i class="fas fa-play"></i></button></div> -->
        <div class="col"><button class="btn btn-primary btn-play" type="submit" (click)="onPlace()" [disabled]="!(x > -1 && y > -1 && direction !== null && direction != '')"><i class="fas fa-play"></i></button></div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>
