<div>
  <!--<p>{{robot.state}} {{robot.vector.position.x}} {{robot.vector.position.y}} {{robot.vector.dir}}</p> -->
  <div *ngIf="robot.state === 'Waving' || robot.state === 'Jumping'">
    <img *ngIf="robot.state === 'Waving'"  class="robot" src="../../../assets/robot_front_wave.png" />
    <img *ngIf="robot.state === 'Jumping'" class="robot" src="../../../assets/robot_front_jump.png" />
  </div>
  <div *ngIf="robot.state === 'Standing'">
    <img *ngIf="robot.vector.dir === 'North'" class="robot" src="../../../assets/robot_back.png"  />
    <img *ngIf="robot.vector.dir === 'East'"  class="robot" src="../../../assets/robot_right.png" />
    <img *ngIf="robot.vector.dir === 'South'" class="robot" src="../../../assets/robot_front.png" />
    <img *ngIf="robot.vector.dir === 'West'"  class="robot" src="../../../assets/robot_left.png"  />
  </div>
</div>
