.robot {
  width: 48px;
  height: 48px;
}

@media (max-width: 425px) {
  .robot {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 375px) {
  .robot {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 320px) {
  .robot {
    width: 30px;
    height: 30px;
  }
}
