﻿
<div class="container commandConsole">
    <div class="row commandHistory">
        <div class="col">
            @foreach (var command in this.commands)
            {
                @command<br>
            }
        </div>
    </div>
    <div class="row commandInput">
        <div class="col">
            <span class="commandPrompt">@this.commandPrompt</span><input type="text" @bind=@commandBuffer @bind:event="oninput" @onkeypress="@OnCommandKeyPressAsync" />
        </div>
    </div>
</div>


@code {
}
