﻿@using ToyRobotChallenge.Library.Geometry;

<div class="container commandConsole">
    <text>
        <div class="row">
            <div class="col"></div>
            <div class="col"><button class="btn btn-primary btn-play" @onclick="@OnRotateLeftAsync"><i class="oi oi-caret-left"></i></button></div>
            <div class="col"><button class="btn btn-primary btn-play" @onclick="@OnMoveAsync"><i class="oi oi-caret-top"></i></button></div>
            <div class="col"><button class="btn btn-primary btn-play" @onclick="@OnRotateRightAsync"><i class="oi oi-caret-right"></i></button></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"><button class="btn btn-danger btn-reset" @onclick="@OnResetAsync"><i class="oi oi-power-standby"></i></button></div>
        </div>
    </text> 
</div>


@code {
}
