﻿@using ToyRobotChallenge.Library.Geometry;

<div class="container commandConsole">
    <text>
        <div class="row">
            <div class="col"></div>
            <div class="col"><h5>PLACE:</h5></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"><span class="label">X: </span></div>
            <div class="col">
                <input class="field" @bind-value="@this.X" />
                @if(this.X < 0 || this.X >= this.MaxX) 
                { 
                    <p class="validation-message">* Value must be between 0 and 4 (inclusive)</p> 
                }
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"><span class="label">Y: </span></div>
            <div class="col">
                <input class="field" @bind-value="@this.Y" />
                @if (this.Y < 0 || this.Y >= this.MaxY)
                {
                    <p class="validation-message">* Value must be between 0 and 4 (inclusive)</p>
                }
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"><span class="label">Direction: </span></div>
            <div class="col">
                <select class="field" @bind="@this.direction">
                    <option value="" disabled selected>Select your option</option>
                    <option value=@Direction.North>@Direction.North</option>
                    <option value=@Direction.East>@Direction.East</option>
                    <option value=@Direction.South>@Direction.South</option>
                    <option value=@Direction.West>@Direction.West</option>
                </select>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"><button class="btn btn-primary btn-play" @onclick="@OnPlaceAsync" disabled="@this.IsPlaceButtonDisabled"><i class="oi oi-media-play"></i></button></div>
            <div class="col"></div>
        </div>
    </text>
</div>


@code {
}
