﻿@inherits LayoutComponentBase
@inject SemVersion.SemanticVersion Version

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <div class="bottom-row px-4">
            <div>Version @Version.ToString()</div>
        </div>
    </main>
</div>
