
.robot {
    width: 60px;
    height: 60px;
}

@media (max-width: 425px) {
    .robot {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 375px) {
    .robot {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 320px) {
    .robot {
        width: 40px;
        height: 40px;
    }
}
