﻿@using ToyRobotChallenge.Library.Geometry
@using ToyRobotChallenge.Library.AppSupport.Models
@using System.Collections.Generic

@if (this.RobotModel != null)
{
    @switch (this.RobotModel.State)
    {
        case ToyRobotModel.RobotState.Waving:
            {
                <text>
                    <img class="robot" src="images/bacterium_wave.png" />
                </text>
            }
            break;

        case ToyRobotModel.RobotState.Jumping:
            {
                <text>
                    <img class="robot" src="images/bacterium_jump.png" />
                </text>
            }
            break;

        case ToyRobotModel.RobotState.Standing:
            {
                switch (this.RobotModel.Vector.Dir)
                {
                    case Direction.North:
                        <text>
                            <img class="robot" src="images/bacterium_back.png" />
                        </text>
                        break;
                    case Direction.East:
                        <text>
                            <img class="robot" src="images/bacterium_right.png" />
                        </text>
                        break;
                    case Direction.South:
                        <text>
                            <img class="robot" src="images/bacterium_front.png" />
                        </text>
                        break;
                    case Direction.West:
                        <text>
                            <img class="robot" src="images/bacterium_left.png" />
                        </text>
                        break;
                    default:
                        break;
                }
            }
            break;

        default:
            break;
    }
}

@code {
    [Parameter]
    public ToyRobotModel RobotModel { get; set; }
}
