﻿@using BlazorToyRobotChallenge.Shared;

<Tabletop Columns="@this.columns"
          Rows="@this.rows"
          RobotModel="@this.RobotModel" />

@if(this.RobotIsPlaced)
{
    <CommandConsoleWASD OnCommandEvent="OnConsoleCommandAsync"
                        OnCommandReset="OnConsoleCommandResetAsync" />
}
else
{
    <CommandConsolePlace OnCommandEvent="OnConsoleCommandAsync"
                         MaxX="@this.columns"
                         MaxY="@this.rows" />
}


@code {
}
