﻿@using ToyRobotChallenge.Library.Geometry
@using ToyRobotChallenge.Library.AppSupport.Models

<!-- build the table grid -->
<div class="container">
    @for (var y = this.Rows - 1; y >= 0; y--)
    {
        <div class="row">
            @for (var x = 0; x < this.Columns; x++)
            {
                <div class="col tabletopgridbox">
                    <span>(@x,@y)</span>
                    @if (true
                        && this.RobotModel != null
                        && this.RobotModel.State != ToyRobotModel.RobotState.None
                        && this.RobotModel.Vector != null
                        && this.RobotModel.Vector.Position.X == (ulong)x
                        && this.RobotModel.Vector.Position.Y == (ulong)y)
                    {
                        <span>
                            <Robot RobotModel="this.RobotModel" />
                        </span>
                    }
                </div>
            }
        </div>
    }
</div>

@code {


    [Parameter]
    public int Columns { get; set; } = 5;

    [Parameter]
    public int Rows { get; set; } = 5;

    [Parameter]
    public ToyRobotModel RobotModel { get; set; }

    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }
}
